<header class="container-fluid bg bg-dark py-4">
    <nav class="row">
        <div class="col-12">
            <div class="ps-3 ps-sm-5 d-flex">
                <a href="/" id="aNav" class="d-flex">
                    <i class="bi bi-house-fill"></i>
                    <p class="ps-2">Home</p>    
                </a>
            </div>
        </div>
    </nav>
</header>