<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-lg-6 pb-4 pb-lg-0">
            <a href="/uber" id="card" class="bg bg-dark p-4 px-5">
                <h2>Uber</h2>
                <hr class="my-2">
            </a>
        </div>
        <div class="col-12 col-lg-6">
            <a href="/xgames" id="card" class="bg bg-dark p-4 px-5">
                <h2>Xgames</h2>
                <hr class="my-2">
            </a>
        </div>
    </div>
</div>