/*Tabela*/

#tabela{
    text-align: center;
}
.bt{ /*borda tabela*/
    border:#212529 1px solid;
}
#editRegistro{
    color:#212529;
    transition: 200ms ease-in-out;
    opacity: 0.8;
}
#editRegistro:hover{
    opacity: 1;
}

/*Adicionar*/

#adicionar{
    color:white;
    display: flex;
    background-color: #212529;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 50px;
    transition: 200ms ease-in-out;
}
#adicionar > p{
    margin: 0;
}
#adicionar:hover{
    opacity: 0.9;
    transform: scale(0.98);
}

/*formUber*/

#labelUber{
    font-size:1.2rem;
    margin-bottom: 0.1rem;
}
#inputUber{
    width:100%;
    border-radius:100px;
    border:rgba(33, 37, 41, 0.4) solid 1px;
    padding:0.5rem;
    padding-left:1.5rem;
    padding-right:1.5rem;
    margin-bottom:1.25rem;
}
#botaoFormUber{
    color:white;
    background-color: #212529;
    text-decoration: none;
    outline: none;
    border:none;
    font-size: 1.2rem;
    border-radius: 50px;
    transition: 200ms ease-in-out;
}
#botaoFormUber:hover{
    opacity: 0.9;
}
#botaoDeleteFormUber{
    color:white;
    background-color: red;
    text-decoration: none;
    outline: none;
    border:none;
    font-size: 1.2rem;
    border-radius: 50px;
    transition: 200ms ease-in-out;
}
#botaoDeleteFormUber:hover{
    opacity: 0.9;
}